# Ignore node_modules directory
node_modules/

# Ignore all logs
*.log

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore temp files and directories
.DS_Store
Thumbs.db
*.tmp
*.temp

# Ignore IDE-specific files
.idea/
.vscode/
*.sublime-*

# Ignore Python virtual environment
venv/
env/
__pycache__/
*.py[cod]
*$py.class

# Project-specific directories
/images/
/processed_images/
current_image.txt
processed_image.txt
